@model GameOfLife.Models.Grid

<div>
    <h2>Game of Life</h2>

    <p>
        Imagina un tablero gigante que se extiende por todas partes, como una hoja de papel que nunca termina. 
    </p>
    <p>
        Este tablero está lleno de cuadritos, y cada cuadrito puede estar "encendido" o "apagado".
    </p>
        <p>
        Cada cuadrito tiene 8 vecinos alrededor (los cuadritos cercanos, incluso en las esquinas).
    </p>
        <p>
        Cada cierto tiempo, todos los cuadritos miran a sus vecinos para decidir si siguen "encendidos" o se apagan.
    </p>
       <p>
        No necesitas hacer nada más para que el juego siga cambiando; solo empieza con algunos cuadritos encendidos y deja que el juego haga su magia solo.
    </p>
       <p>
        ¡Es como un juego en el que los cuadritos deciden qué hacer cada turno!
    </p>
            
    <details>
        <summary>Reglas</summary>
        <strong><p>Para iniciar simplemente selecciona algunos cuadritos y presiona next, mira como evolucionan a lo largo del tiempo y sus vecinos tambien!</p></strong>
        <p>         
            Si un cuadrito está encendido:
            Se apaga si tiene menos de 2 vecinos encendidos o más de 3 vecinos encendidos.
            Sigue encendido si tiene 2 o 3 vecinos encendidos.
            
        </p>

        <p>
            Si un cuadrito está apagado:
            Se enciende si tiene exactamente 3 vecinos encendidos.
        </p>
        <p>
            Cambio de Estado: Cada cierto tiempo, los cuadritos miran a sus vecinos y cambian de estado siguiendo estas reglas. Esto se repite una y otra vez.
        </p>        
    </details>
    
</div>


<form id="gameForm">

    <div style="margin: 5px 5px 5px 5px">

    <button type="button" id="nextGenerationBtn">Next</button>
    <button type="button" id="resetBtn">Reset</button>
    </div>

    <div style="margin: 5px 5px 5px 5px">
        <p>
            Selecciona el checkbox para avanzar entre generaciones automáticamente
        </p>
        <label>Avanzar automáticamente</label>
        <input type="checkbox" id="autoAdvance" />
    </div>

</form>



<div id="gridContainer" style="margin: 5px 5px 5px 5px">
    @Html.Partial("_GridPartial", Model)
</div>

<script src="./js/game.js"></script>


